In [15]:
%%writefile zoo.py
def hours():
    print("Open 9-5 daily")

Writing zoo.py

In [17]:
import zoo
zoo.hours()

Open 9-5 daily

In [19]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [27]:
import sqlite3

# Connecting to the SQLite database 
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Creating the table
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')

# Committing and closing the connection
conn.commit()
conn.close()

In [29]:
import csv
import sqlite3

# Read the books2.csv file
with open('books2.csv', newline='') as file:
    reader = csv.DictReader(file)
    
    # Connecting to the SQLite database
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    
    # Inserting each row into the books table
    for row in reader:
        cursor.execute('''
        INSERT INTO books (title, author, year) VALUES (?, ?, ?)
        ''', (row['title'], row['author'], int(row['year'])))
    
    # Committing and close the connection
    conn.commit()
    conn.close()

In [39]:
from sqlalchemy import create_engine, Table, MetaData

# Creatign an SQLAlchemy engine
engine = create_engine('sqlite:///books.db')

# Connecting to the database
metadata = MetaData()
books_table = Table('books', metadata, autoload_with=engine)

# Titles in alphabetical order
with engine.connect() as connection:
    result = connection.execute(books_table.select().order_by(books_table.c.title))

    # Printing  titles using the index
    for row in result:
        print(row[0])  # 0 is the index of the 'title' column in the result tuple

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!